@import url(https://www.fontsquirrel.com/fonts/source-sans-pro#link);
@import url(https://www.fontsquirrel.com/fonts/Spin-Cycle-OT#link);

body {
padding: 0;
margin: 0;
}

header {
  border: 1px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  z-index: 1000;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  }
  
.school-page {
    background-image: url(images/background\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

 #text {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 230px;
  padding-bottom: 0px;
 }
  
 .sub-text {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  padding-top: 0px;
 }

 button {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #C271FF;
  border: none;
 }

 .images {
  display: flex;
  justify-content: space-around;

 }
