body {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 229, 224);
    height: 98vh;
}

header {
    background-color: burlywood;
}

header > ul{
    display: block;
    float: right;
    margin-right: 4rem;
}
header > ul > li{
    display: inline;
    padding-left: 2rem;
    list-style: none;
}
header > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
header > ul > li > a:hover{
    color: paleturquoise;
    transition: 1s color;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    border: 1px solid black;
    padding-left: 1rem;
    text-align: center;

}

aside {
    flex: 1;
    overflow-y: auto;
    padding-left: 1rem;
}

table{
    margin: 10px auto;
}

tr, th, td{
    text-align: center;
    border: 1px solid black;
    font-size: 1em;
    padding: 8px;
}
h2{
    font-size: 2em;
}

img{
    width: 20rem;
}

aside p{
    font-size: 1.5em;
    
}

article{

    border: 1px solid black;
    padding-left: 1rem;
    text-align: center;
}

aside{
   
    padding-left: 1rem;
}

footer{
    background-color: burlywood;
    height: 1rem;
    color: black;
    text-align: center;
    padding-top: 1rem;
}
